{{ include('partials/header-reproupement.html.twig') }}

    {{ include('partials/page-title.html.twig', {pagetitle: 'Team Manager', title: 'Reps Briefings'}) }}

<h2>test</h2>

{{ include('partials/footer-regroupement.html.twig') }}

