<!DOCTYPE html>

<title>New TransferArrival</title>

{% block body %}
    <h1>Create new TransferArrival</h1>

    {{ include('transfer_arrival/_form.html.twig') }}

    <a href="{{ path('app_transfer_arrival_index') }}">back to list</a>
{% endblock %}
