<!DOCTYPE html>

<title>New TransferDeparture</title>

{% block body %}
    <h1>Create new TransferDeparture</h1>

    {{ include('transfer_departure/_form.html.twig') }}

    <a href="{{ path('app_transfer_departure_index') }}">back to list</a>
{% endblock %}
