{{ include('partials/topbar.html.twig') }}

{{ include('partials/sidebar.html.twig') }}

{# si tu n es pas rep tu l'affiche tout le temps #}
{# {% if "ROLE_REP" not in app.user.roles %}
{{ include('partials/sidebar.html.twig') }}
{% else %}
{# si tu es rep ca depend de l'écran #}
{# <div class="d-none d-lg-block">
{{ include('partials/sidebar.html.twig') }}
</div>




{% endif %} #} 