<meta charset="utf-8" />
<title>{{ (title) ? title|trans : '' }} | Jumbo - Admin & Dashboard </title>
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<meta content="TO Admin solution" name="description" />
<!-- !!! On essaie de ne pas indexé ce site !!! -->
<meta name="robots" content="noindex, nofollow, noarchive, nosnippet, noodp, noimageindex, notranslate, nocache">
<!-- App favicon -->
<link rel="shortcut icon" href="/images/favicon.ico">