<!DOCTYPE html>

<title>New TransferJoan</title>

{% block body %}
    <h1>Create new TransferJoan</h1>

    {{ include('transfer_joan/_form.html.twig') }}

    <a href="{{ path('app_transfer_joan_index') }}">back to list</a>
{% endblock %}
