{{ include('partials/header-reproupement.html.twig') }}

    {{ include('partials/page-title.html.twig', {pagetitle: 'Team Manager', title: 'Reps Briefings'}) }}

    <h1>Test</h1>

{{ include('partials/footer-regroupement.html.twig') }}

