{{ include('partials/header-reproupement.html.twig') }}


    {{ include('partials/page-title.html.twig', {pagetitle: 'Client Card', title: 'Edit Client Card'|trans}) }}
    
    <h2>test </h2>

{{ include('partials/footer-regroupement.html.twig') }}