{{ include('partials/header-reproupement.html.twig') }}

                        {{ include('partials/page-title.html.twig', {pagetitle: 'Minibles', title: 'Bienvenue Sur le Kino Dashboards'}) }}

                        <div class="row">
                            <div class="col">
                                <div class="card">
                                    <div class="card-body">
                                        <div class="float-end mt-2">
                                            <div id="total-revenue-chart"></div>
                                        </div>
                                        <div>
                                            <h4 class="mb-1 mt-1">Dashboard</h4>

                                        </p>
                                    </div>
                                </div>
                            </div> <!-- end col-->
                        </div>


{{ include('partials/footer-regroupement.html.twig') }}




