{{ form_start(form) }}
    {{ form_widget(form) }}

    <div class="text-center m-5">
        <button class="btn btn-success waves-effect waves-light">{{ button_label|default('Save') }}</button>
    </div>

{{ form_end(form) }}





























