{{ include('partials/header-reproupement.html.twig') }}


    {{ include('partials/page-title.html.twig', {pagetitle: 'Contacts', title: 'New User'}) }}


    <a href="{{ path('app_user_list') }}" class="btn btn-primary waves-effect waves-light"><i class="mdi mdi-plus me-2"></i>back to list</a>


    <h1 class="text-center mb-5">Create new User</h1>


    <div class="row justify-content-center">
        <div class="col-md-4">
            {{ include('user/_form.html.twig') }}
        </div>
    </div>
    

